global
  maxconn 4096
  nbthread 1
  tune.bufsize 4096
  tune.maxrewrite 0

defaults
  mode tcp
  timeout connect 500ms
  timeout client 10s
  timeout server 10s

frontend api
  bind *:9999
  default_backend apis

backend apis
  balance roundrobin
  server api1 api1:9999
  server api2 api2:9999
